<div class="space-y-6">
  <%= render "video_header", summary: summary %>

  <div class="space-y-6">
    <%= render "rating_section", summary: summary %>
    <%= render "tldr_section", summary: summary %>
    <%= render "takeaways_section", summary: summary %>
    <%= render "summary_detail_section", summary: summary %>
  </div>
</div>