<% content_for :container_width do %>max-w-6xl<% end %>

<div class="space-y-8"
     data-controller="youtube summary-loader"
     data-youtube-video-id-value="<%= @summary_data[:video_id] %>"
     data-summary-loader-video-id-value="<%= @summary_data[:video_id] %>"
     data-summary-loader-loading-value="<%= @summary_data[:loading] %>">

  <!-- Video Header -->
  <%= render "summaries/show/video_header", summary: @summary_data %>

  <!-- Main Content -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <!-- Left Column -->
    <%= render "summaries/show/left_column" %>

    <!-- Right Column -->
    <%= render "summaries/show/right_column" %>
  </div>
</div>