<head>
  <title><%= content_for?(:title) ? yield(:title) : "Y2si" %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <%# Favicon settings %>
  <%= favicon_link_tag 'y2si.png' %>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'y2si.png' %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'y2si.png' %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'y2si.png' %>">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_importmap_tags %>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico" rel="stylesheet">
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
</head>